pandas==1.4.2
numpy==1.22.3
pystan==2.19.1.1
fbprophet==0.7.1
matplotlib==3.4.2
plotly==5.7.0
scikit_learn==1.0.2
statsmodels==0.13.2
streamlit==1.2.0
convertdate==2.4.0
prophet

jupyterlab
notebook

